# @see https://github.com/rimi-itk/remote-commands
IgnoreUnknown UseKeychain,DRUPAL_*,SYMFONY_*

Host deltag.aarhus.dk
  HostName srvitkphp74.itkdev.dk
  DRUPAL_DRUSH_ROOT /data/www/deltag_aarhus_dk/htdocs/web
  DRUPAL_DRUSH_DRUSH ../vendor/bin/drush

Host stgdeltag.srvitkstgweb01.itkdev.dk
  HostName srvitkstgweb01.itkdev.dk
  DRUPAL_DRUSH_CWD /data/www/stgdeltag_srvitkstgweb01_itkdev_dk/htdocs
  DRUPAL_DRUSH_ROOT /app
  DRUPAL_DRUSH_DRUSH docker-compose --env-file .env.docker.local --file docker-compose.server.yml exec phpfpm vendor/bin/drush

Host os2loop.srvitkphp74stg.itkdev.dk
  HostName srvitkphp74stg.itkdev.dk
  DRUPAL_DRUSH_ROOT /data/www/os2loop/htdocs/web
  DRUPAL_DRUSH_DRUSH ../vendor/bin/drush

Host selvbetjening.aarhuskommune.dk
  HostName srvwebdw.adm.aarhuskommune.dk
  DRUPAL_DRUSH_ROOT /data/www/selvbetjening_aarhuskommune_dk/htdocs/web
  DRUPAL_DRUSH_DRUSH ../vendor/bin/drush

Host os2forms.admnonwin.aarhuskommune.dk
  HostName srvwebstgitk01.admnonwin.aarhuskommune.dk
  DRUPAL_DRUSH_CWD /data/www/os2forms_admnonwin_aarhuskommune_dk/htdocs
  DRUPAL_DRUSH_ROOT /app/web
  # DRUPAL_DRUSH_DRUSH itkdev-docker-compose-server exec phpfpm vendor/bin/drush
  DRUPAL_DRUSH_DRUSH docker-compose --env-file .env.docker.local --file docker-compose.server.yml exec phpfpm vendor/bin/drush

Host stg.os2forms.itkdev.dk
  HostName srvitkphp74stg.itkdev.dk
  DRUPAL_DRUSH_ROOT /data/www/stg_os2forms_itkdev_dk/htdocs/web
  DRUPAL_DRUSH_DRUSH ../vendor/bin/drush

Host nsek.dmzwebstgitk03.itkdev.dk
  HostName dmzwebstgitk03.dmz.aarhuskommune.dk
  SYMFONY_CONSOLE_ROOT /data/www/nsek_dmzwebstgitk03_itkdev_dk/htdocs
  SYMFONY_CONSOLE_CONSOLE itkdev-docker-compose-server exec phpfpm bin/console

Host loop.sundhedogomsorg.dk
  HostName dmzapploop02.dmz.aarhuskommune.dk
  DRUPAL_DRUSH_ROOT /data/www/sundhedogomsorg_dk/htdocs/web
  DRUPAL_DRUSH_DRUSH ../vendor/bin/drush

Host dp-lager.aarhuskommune.dk
  HostName srvitkweb01.itkdev.dk
  DRUPAL_DRUSH_CWD /data/www/dp_lager/htdocs
  DRUPAL_DRUSH_ROOT /app
  # DRUPAL_DRUSH_DRUSH itkdev-docker-compose-server exec phpfpm vendor/bin/drush
  DRUPAL_DRUSH_DRUSH docker-compose --env-file .env.docker.local --file docker-compose.server.yml exec phpfpm vendor/bin/drush

Host dp-lager.srvitkstgweb01.itkdev.dk
  HostName srvitkstgweb01.itkdev.dk
  DRUPAL_DRUSH_CWD /data/www/dp-lager.srvitkstgweb01.itkdev.dk/htdocs
  DRUPAL_DRUSH_ROOT /app
  DRUPAL_DRUSH_DRUSH docker-compose --env-file .env.docker.local --file docker-compose.server.yml exec phpfpm vendor/bin/drush

Host emnemodul.sundhedogomsorg.dk
  HostName dmzapploop02.dmz.aarhuskommune.dk
  DRUPAL_DRUSH_ROOT /data/www/sundhedogomsorg_dk/htdocs/web
  DRUPAL_DRUSH_DRUSH ../vendor/bin/drush

Host ereolen.dk
  HostName ereolen-p08.dbc.dk
  DRUPAL_DRUSH_ROOT /data/www/ereolen_dk/htdocs

Host dev.ereolen.etek.dk
  HostName aarhus-s02.dbc.dk
  DRUPAL_DRUSH_ROOT /data/www/dev_ereolen_dk/htdocs

Host stg.ereolen.itkdev.dk
  HostName aarhus-s02.dbc.dk
  DRUPAL_DRUSH_ROOT /data/www/stg_ereolen_dk/htdocs

Host adgangsplatformen.ereolen.etek.dk
  HostName aarhus-s02.dbc.dk
  DRUPAL_DRUSH_ROOT /data/www/adgangsplatformen_ereolen_dk/htdocs

Host dev.ereolengo.etek.dk
  HostName aarhus-s02.dbc.dk
  DRUPAL_DRUSH_ROOT /data/www/dev_ereolengo_dk/htdocs

Host adgangsplatformen.ereolengo.etek.dk
  HostName aarhus-s02.dbc.dk
  DRUPAL_DRUSH_ROOT /data/www/adgangsplatformen_ereolengo_dk/htdocs

Host srvitkhulk.itkdev.dk

Host aapodwalk.srvitkhulk.itkdev.dk
  HostName srvitkhulk.itkdev.dk

Host 360.aarhuskommune.dk
  HostName srvitkphp74.itkdev.dk
  SYMFONY_CONSOLE_ROOT /data/www/360_aarhuskommune_dk/htdocs

# @see https://unix.stackexchange.com/a/16784
Host *
  User deploy
  ForwardAgent yes
  SendEnv LANG
  # @see https://maclovin.org/blog-native/2018/ssh-key-how-to-use-the-keychain-for-the-passphrase
  UseKeychain yes
  AddKeysToAgent yes
