# @see https://github.com/rimi-itk/remote-commands
IgnoreUnknown UseKeychain,DRUPAL_*,SYMFONY_*

Host deltag.aarhus.dk
  HostName srvitkphp74.itkdev.dk
  DRUPAL_DRUSH_ROOT /data/www/deltag_aarhus_dk/htdocs/web
  DRUPAL_DRUSH_DRUSH ../vendor/bin/drush

Host stgdeltag.srvitkstgweb01.itkdev.dk
  HostName srvitkstgweb01.itkdev.dk
  DRUPAL_DRUSH_CWD /data/www/stgdeltag_srvitkstgweb01_itkdev_dk/htdocs
  DRUPAL_DRUSH_ROOT /app
  DRUPAL_DRUSH_DRUSH docker-compose --env-file .env.docker.local --file docker-compose.server.yml exec phpfpm vendor/bin/drush

# @see https://unix.stackexchange.com/a/16784
Host *
  User deploy
  ForwardAgent yes
  SendEnv LANG
  # @see https://maclovin.org/blog-native/2018/ssh-key-how-to-use-the-keychain-for-the-passphrase
  UseKeychain yes
  AddKeysToAgent yes
